<mat-accordion>
    <mat-expansion-panel class="first-slide">
      <mat-expansion-panel-header [collapsedHeight]="'50px'">
        <mat-panel-title>About the Club</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <b>CFR Cluj</b> is a football club from the city of Cluj-Napoca, Romania, founded in 1907. Throughout its history, it has evolved from a modest railway team to one of the most successful clubs in Romanian football. The team has won multiple Liga I titles and has participated in European competitions such as the UEFA Champions League and the Europa League, with competitive performances against renowned teams. CFR Cluj is characterised by its consistency at domestic level and its ability to compete at international level, establishing itself as one of the leading names in Romanian football.
      </p>
      <img src="../../assets/img/1_3_221363_1630410584_09071_fav.jpg" alt="team" class="team-photo">
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'50px'">
          <mat-panel-title>The Origin of CFR Cluj's Name and Nickname</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            The club's full name is CFR Cluj, where ‘CFR’ stands for <b>‘Căile Ferate Române’ (Romanian Railways)</b>, in reference to its origin as a team of railway workers in 1907. Over the years, the club has kept this name, reflecting its close relationship with Romania's railway industry. <br>
            The team's most common nickname is <b>‘Feroviarii’ (The Railwaymen)</b>, in honour of its railway roots. This nickname has endured over time and is a symbol of pride for the club's fans, who value the tradition and history behind the name.
        </p>
            <img src="../../assets/img/cfr-logo.png" alt="photo" class="cfr-img">
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'50px'">
          <mat-panel-title>Stadium</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          CFR Cluj plays its matches at the <b>Stadionul Dr. Constantin Rădulescu</b>, located in the city of Cluj-Napoca. The stadium, named after a former player and coach of the club, has a capacity of around 22,198 spectators. Opened in 1973, it has been renovated several times to meet international standards, hosting Liga I competitions and European tournaments such as the Champions League and Europa League.<br>
          The stadium features several sections, including <b>Tribuna 1</b>, <b>Tribuna 2</b>, and the <b>Peluza Vișinie</b>, where the most passionate fans gather. The Stadionul is an important symbol of the club and a fortress where CFR Cluj has achieved many of its successes.
        </p>               
        <div class="stadium-gallery">
          <img src="../../assets/img/stadium/CFR_Clujs_Stadium_Entry.jpg" alt="stadium" class="stadium-photo">
          <img src="../../assets/img/stadium/208.jpg" alt="stadium" class="stadium-photo">
          <img src="../../assets/img/stadium/640px-Dr_Constantin_Radulescu_Stadium_(8122846696).jpg" alt="stadium" class="stadium-photo">
          <img src="../../assets/img/stadium/cfr-1.jpg" alt="stadium" class="stadium-photo">
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'50px'">
          <mat-panel-title>Supporters</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          CFR Cluj has many fans in Cluj-Napoca, as well as in other parts of the country. Since the disbandment of major groups like <b>"Patriots" and "Commando Gruia"</b> in 2014, the supporters have unified under one large group called <b>"Peluza Vișinie"</b>, which consists of former members of older groups such as <b>"Romaniacs," "Juvenes," "Gruppo Gara," "Valacchi", "Pride 1907," "Nostra Famiglia," and "1907."</b> There is also another group of older Hungarian supporters who sit in the Tribuna 1 section of the stadium. Although their support is less vocal and visible, they remain a constant part of the active fanbase. <br>
          The atmosphere at Dr. Constantin Rădulescu Stadium is unique, combining civility with excitement, making it a welcoming environment for families. Despite a fierce rivalry with Universitatea Cluj, which has sometimes led to violence among extreme fans, many supporters promote a sense of local patriotism that appreciates both clubs. This camaraderie allows fans to enjoy the vibrant football culture in Cluj without resorting to the hooliganism that has tainted the sport in other regions.
        </p>
        <img src="../../assets/img/THD7821_-1.jpg" alt="support" class="fans-photo">
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'50px'">
          <mat-panel-title>Cluj-Napoca</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            <b>Cluj-Napoca</b>, commonly known as <b>Cluj</b>, is the city where CFR Cluj is based. Located in the heart of Transylvania, it is one of the largest and most prosperous cities in Romania. With a rich history dating back to Roman times, Cluj-Napoca is today an important cultural, academic and economic centre of the country. The city is known for its vibrant university scene, historic architecture and cultural diversity. It is also a key location for Romanian football, being home to CFR Cluj, one of the country's most successful clubs
        </p>
        <img src="../../assets/img/city/Cluj-Napoca.jpg" alt="city" class="city-photo">
        <div class="link-container">
          <a href="https://visitcluj.ro/" target="_blank">Visit Cluj</a>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'50px'">
          <mat-panel-title>Champions League Appearances</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            CFR Cluj have made several notable appearances in the UEFA Champions League, starting with their debut in the 2008-09 season, where they stunned <b>AS Roma with a 2-1 victory at the Stadio Olimpico</b>. This result immediately drew attention to the Romanian side. In subsequent editions, such as 2010-11 and 2012-13, they faced tough opponents like Bayern Munich and Manchester United, holding their own in highly competitive group stages. <br>
            The 2012-13 campaign was particularly memorable, with a famous <b>1-0 win over Manchester United at Old Trafford</b>. Although CFR Cluj has not advanced beyond the group stage, their competitive performances against some of Europe’s biggest clubs have raised their profile in European football, establishing them as a respected and resilient team.
        </p>
        <div class="ucl-container">
          <img src="../../assets/img/ucl/yssouf_kone_cfr_1907_cluj_john_terry_chelsea_fc_.jpeg" alt="match-photo" class="match-photo">
          <img src="../../assets/img/ucl/Cluj-v-Braga-Rui-Pedro_2863810.jpg" alt="match-photo" class="match-photo">
          <img src="../../assets/img/ucl/f464158d79adb9b65a8ca49a8a160382.jpg" alt="match-photo" class="match-photo">
          <img src="../../assets/img/ucl/nano.jpg" alt="match-photo" class="match-photo">
          <img src="../../assets/img/ucl/153272132.0.jpg" alt="match-photo" class="match-photo">
          <img src="../../assets/img/ucl/1903408.jpeg" alt="match-photo" class="match-photo">
          <img src="../../assets/img/ucl/cfr-cluj-s-a-facut-de-ras-la-basel.jpg" alt="match-photo" class="match-photo">
          <img src="../../assets/img/ucl/1-Copy-e1446193092589.jpg" alt="match-photo" class="match-photo">
        </div>
      </mat-expansion-panel>
  </mat-accordion>